.card {
  border-radius: 0.9em;
}

.card:hover {
  background-color: #4646508b;
}

.card img {
  border-radius: 0.9em;
}

svg:hover {
  fill: rgb(55, 175, 255);
}

.svg-links {
  margin-left: 3px;
  margin-right: 3px;
}

.logo {
  display: inline;
  font-size: medium;
  font-weight: 500;
}

@media (min-width:1000px) {
  .la {
    margin-left: -25px;
  }
}

@media (max-width:1000px) {
  .sep1 {
    display: none;
  }
}